
apiVersion: apps/v1
kind: Deployment
metadata:
  name: argocdapp
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: argocdapp
  template:
    metadata:
      labels:
        app: argocdapp
    spec:
      containers:
      - image: abhishekpitale
        name: argocdapp:latest
        ports:
        - containerPort: 8080